<ul class="sidebar-menu" data-widget="tree">
<li class="header">HEADER</li>
<!-- Optionally, you can add icons to the links -->
<li class="active"><a href="/"><i class="fa fa-dashboard"></i> <span>Home</span></a></li>
<li class="treeview">
    <a href="#"><i class="fa fa-university"></i> <span>Organization</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#"><i class="fa fa-university"></i> <span>Organization Type</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/OrganizationType/Create">Create Organization Type</a></li>
                <li><a href="/OrganizationType">All Organization Type</a></li>
            </ul>
        </li>
        <li><a href="/Organization/Create">Create Organization</a></li>
        <li><a href="/Organization">All Organization</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Resource</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#"><i class="fa fa-users"></i> <span>Resource Type</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/ResourceType/Create">Create Resource Type</a></li>
                <li><a href="/ResourceType">All Resource Type</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-users"></i> <span>Resource Priority</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/ResourcePriority/Create">Create Resource Priority</a></li>
                <li><a href="/ResourcePriority">All Resource Priority</a></li>
            </ul>
        </li>
        <li><a href="/Resource/Create">Create Resource</a></li>
        <li><a href="/Resource">All Resource</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-area-chart"></i> <span>Project</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#"><i class="fa fa-area-chart"></i> <span>Project Type</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/ProjectType/Create">Create Project Type</a></li>
                <li><a href="/ProjectType">All Project Type</a></li>
            </ul>
        </li>
        <li><a href="/Project/Create">Create Project</a></li>
        <li><a href="/Project">All Project</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-wrench"></i> <span>Work</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#"><i class="fa fa-wrench"></i> <span>Work Type</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/WorkType/Create">Create Work Type</a></li>
                <li><a href="/WorkType">All Work Type</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-wrench"></i> <span>Work Assign</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/WorkAssign/Create">Create Work Assign</a></li>
                <li><a href="/WorkAssign">All Work Assign</a></li>
            </ul>
        </li>
        <li><a href="/Work/Create">Create Work</a></li>
        <li><a href="/Work">All Work</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-tasks"></i> <span>Task</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#"><i class="fa fa-tasks"></i> <span>Task Type</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/TaskType/Create">Create Task Type</a></li>
                <li><a href="/TaskType">All Task Type</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-tasks"></i> <span>Task Assign</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/TaskAssign/Create">Create Task Assign</a></li>
                <li><a href="/TaskAssign">All Task Assign</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-tasks"></i> <span>Task Assign Details</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="/TaskAssignDetail/Create">Create Task Assign Details</a></li>
                <li><a href="/TaskAssignDetail">All Task Assign Details</a></li>
            </ul>
        </li>
        <li><a href="/Task/Create">Create Task</a></li>
        <li><a href="/Task">All Task</a></li>
    </ul>
</li>
</ul>