@model projectAdminPanel.Models.Project

<section class="content-header">
    <h1>
    Project
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Project</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/Project/UpdateProject">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="ProjName" placeholder="Name" value="@Model.ProjName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Details</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="ProjDetails" placeholder="Details" value="@Model.ProjDetails">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Project Type</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ProjTypeId", (IEnumerable<SelectListItem>)ViewBag.type, "Select Type","ProjTypeName")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Organization</label>
                <div class="col-sm-10">
                    @Html.DropDownList("OrgId", (IEnumerable<SelectListItem>)ViewBag.org, "Select Organization","OrgName")
                </div>
            </div>
            <input type="hidden" name="ProjId" value="@Model.ProjId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" formaction="/Project" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>