@model projectAdminPanel.Models.Task

<section class="content-header">
    <h1>
    Task
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Task</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/Task/UpdateTask">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TaskDescirption" placeholder="Name" value="@Model.TaskDescirption">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Date</label>
                <div class="col-sm-10">
                @{
                    var date = @Model.TaskDate.ToString("yyyy-MM-dd");
                }
                <input type="Date" class="form-control" name="TaskDate" placeholder="Date" value="@date">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Work</label>
                <div class="col-sm-10">
                    @Html.DropDownList("WorkId", (IEnumerable<SelectListItem>)ViewBag.work, "Select Work","WorkDescirption")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Type</label>
                <div class="col-sm-10">
                    @Html.DropDownList("TaskTypeId", (IEnumerable<SelectListItem>)ViewBag.type, "Select Type","TaskTypeName")
                </div>
            </div>
            <input type="hidden" name="TaskId" value="@Model.TaskId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" formaction="/Task" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>