@model projectAdminPanel.Models.WorkAssign

<section class="content-header">
    <h1>
    Work Assign
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Work Assign</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/WorkAssign/UpdateWorkAssign">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Work Assign Date</label>
                <div class="col-sm-10">
                @{
                    var date = @Model.WorkAssignDate.ToString("yyyy-MM-dd");
                }
                <input type="Date" class="form-control" name="WorkAssignDate" placeholder="Date" value="@date">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Work</label>
                <div class="col-sm-10">
                    @Html.DropDownList("WorkId", (IEnumerable<SelectListItem>)ViewBag.work, "Select Work","WorkDescirption")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource Name</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ResId", (IEnumerable<SelectListItem>)ViewBag.res, "Select Resource","ResName")
                </div>
            </div>
            <input type="hidden" name="WorkAssignId" value="@Model.WorkAssignId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" formaction="/WorkAssign" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>