@model projectAdminPanel.Models.ProjectType

<section class="content-header">
    <h1>
    Project Type
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Project Type</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/ProjectType/UpdateProjectType">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="ProjTypeName" placeholder="Name" value="@Model.ProjTypeName">
                </div>
            </div>
            <input type="hidden" name="ProjTypeId" value="@Model.ProjTypeId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" formaction="/ProjectType" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>