<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    Task Assign Detail
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Add Task Assign Detail</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="CreateTaskAssignDetail">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Starting Date</label>
                <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" name="Starting" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Ending Date</label>
                <div class="col-sm-10">
                    @{
                        var date = @ViewBag.date.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T');;
                    }
                    <input type="datetime-local" class="form-control" name="Ending" placeholder="Name" value="@date">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TaskDescription" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Completion</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="amount" name="CompletionPercent" placeholder="Percentage" min="1" max ="100">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource</label>
                <div class="col-sm-10">
                    @Html.DropDownList("TaskAssignId", (IEnumerable<SelectListItem>)ViewBag.task, "Select Resource","Value")
                </div>
            </div>
            
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" formaction="/TaskAssignDetail" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Create</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>