<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
    Task Assign
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Add Task Assign</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="CreateTaskAssign">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Assign Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="TaskAssignDate" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task</label>
                <div class="col-sm-10">
                    @Html.DropDownList("TaskId", (IEnumerable<SelectListItem>)ViewBag.task, "Select Task","TaskDescirption")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ResId", (IEnumerable<SelectListItem>)ViewBag.res, "Select Resource","ResName")
                </div>
            </div>
            
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" formaction="/TaskAssign" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Create</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>