@model projectAdminPanel.Models.TaskAssign

<section class="content-header">
    <h1>
    Task Assign
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Task Assign</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/TaskAssign/UpdateTaskAssign">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task Assign Date</label>
                <div class="col-sm-10">
                    @{
                        var date = @Model.TaskAssignDate.ToString("yyyy-MM-dd");
                    }
                    <input type="date" class="form-control" name="TaskAssignDate" placeholder="Name" value="@date">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Task</label>
                <div class="col-sm-10">
                    @Html.DropDownList("TaskId", (IEnumerable<SelectListItem>)ViewBag.task, "Select Task","TaskDescirption")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ResId", (IEnumerable<SelectListItem>)ViewBag.res, "Select Resource","ResName")
                </div>
            </div>
            <input type="hidden" name="TaskAssignId" value="@Model.TaskAssignId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" formaction="/TaskAssign" class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-info pull-right">Create</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>