@model projectAdminPanel.Models.Work

<section class="content-header">
    <h1>
    Work
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Work</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/Work/UpdateWork">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" name="WorkDescirption" placeholder="Name" value="@Model.WorkDescirption">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                <div class="col-sm-10">
                @{
                    var date = @Model.WorkDate.ToString("yyyy-MM-dd");
                }
                <input type="Date" class="form-control" name="WorkDate" placeholder="Date" value="@date">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Project Name</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ProjId", (IEnumerable<SelectListItem>)ViewBag.proj, "Select Project","ProjName")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Work Type</label>
                <div class="col-sm-10">
                    @Html.DropDownList("WorkTypeId", (IEnumerable<SelectListItem>)ViewBag.type, "Select Work Type","WorkTypeName")
                </div>
            </div>
            <input type="hidden" name="WorkId" value="@Model.WorkId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" formaction="/Work" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>