@model projectAdminPanel.Models.Resource

<section class="content-header">
    <h1>
    Resource
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Update Resource</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post" action="/Resource/UpdateResource">
        <div class="box-body">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
            <input type="Email" class="form-control" name="ResEmail" value="@Model.ResEmail">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="ResName" placeholder="Name" value="@Model.ResName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Mobile</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" name="ResMobile" placeholder="Phone" value="@Model.ResMobile">
            </div>
        </div>
        <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource Type</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ResTypeId", (IEnumerable<SelectListItem>)ViewBag.type, "Select Type","ResTypeName")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource Priority</label>
                <div class="col-sm-10">
                    @Html.DropDownList("ResHierId", (IEnumerable<SelectListItem>)ViewBag.hier, "Select Priority","ResHierName")
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resource Organization</label>
                <div class="col-sm-10">
                    @Html.DropDownList("OrgId", (IEnumerable<SelectListItem>)ViewBag.org, "Select Organization","OrgName")
                </div>
            </div>
        <input type="hidden" name="ResId" value="@Model.ResId"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        <button type="submit" formaction="/Resource" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">Update</button>
        </div>
        <!-- /.box-footer -->
    </form>
    </div>
    <!-- /.box -->
</section>